body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#habitat {
  text-align: left;
  display: flexbox;
}
.flexbox-container {
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.ui.button {
  background-color: rgb(38, 255, 0);
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 18rem;
  min-height: 30rem;
  height: auto;
  display: inline-grid;
  margin: 1rem 1rem;
  box-shadow: 3px 4px #e04b52;
  background-color: #87CEEB;
}

.card button {
  align-self: flex-end;
}

.card img {
  max-height: 200px;
  width: 170px;
  overflow: hidden;
  margin-left:auto;
  margin-right:auto;

}

.card h4 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient:vertical;
    overflow:hidden;
}

.card button {
  max-height: 30px;
  border-radius: 10px;
}

.button.ui.animated.button {
  background: rgb(255, 1, 1);
}

.menu.ui.menu{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#animal_card_two {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#habitatList {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: x-large;
}